[Unit]
Description=Module Manager Service
After=network.target mosquitto.service system-api.service

[Service]
Type=simple
User=gromov
WorkingDirectory=/home/gromov/cursach3/
ExecStart=/home/gromov/cursach3/venv/bin/python /home/gromov/cursach3/module_manager.py /home/gromov/cursach3/config.json  
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=module-manager
Environment="PATH=/home/gromov/cursach3/venv/bin:/usr/local/sbin/:/usr/local/bin/:/usr/sbin/:usr/bin/:/sbin/:/bin"
Environment="VIRTUAL_ENV=/home/gromov/cursach3/venv"
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
